{
  "presets": [
    [ 
      "@babel/preset-env", 
      {
        "modules": false,
        "targets": {
          "browsers": [
            "> 1%",
            "iOS >= 9",
            "Android >= 5.0"
          ]
        },
        "useBuiltIns": "usage",
        "corejs": 2
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-modules-commonjs",
  ]
}