.hello
  font-family: 'price'
  border: 1px solid #000000
  background: blue url('./img/5th-two.png')
@font-face
  font-family: 'price'
  src: url('img/font-price.eot');
  src: url('img/font-price.eot') format('embedded-opentype'),
    url('img/font-price.ttf') format('truetype'),
    url('img/font-price.woff') format('woff'),
    url('img/font-price.svg') format('svg');
  font-weight: normal
  font-style: normal
  font-display: block