html,body
  height: 100%
#app
  height: 100%
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body{ font-size:12px; line-height:12px;}
body *{
  box-sizing: border-box
}
ul,ol{ list-style:none;}
a{ color:#000; text-decoration:none;}
h1,h2,h3,h4,h5,h6{ font-size:100%;}
address, cite, dfn, em, var, i{ font-style:normal;}
b,strong{ font-weight:normal;}
a img{ border:none;}
img{ vertical-align:top;}
.clearfix:after{display:block; content:''; clear:both; height:0; visibility: hidden;}/*清浮动*/
.clearfix{ zoom:1;}
a,input,textarea{outline:none;}
input:focus,textarea:focus,select:focus{ outline:none;}
textarea{resize:none;}
table{ border-collapse:collapse;border-spacing:0;}
th,td{border:1px solid red; padding:0;}
.fl{ float:left;}
.fr{ float:right;}